<div fxLayout="row" fxLayoutGap="10px">
  <div fxFlex fxFlex.xs="none">
  </div>
  <div fxFlex>
    <div fxLayout="column" fxLayoutAlign="center center">
      <div fxFlex="200px">
        <md-card>
          <md-card-content>
            <p>"{{ quote.quoteText }}"</p>
            <p>-- {{ quote.quoteAuthor ? quote.quoteAuthor : 'Unknown author' }}</p>
          </md-card-content>
        </md-card>
      </div>
      <div fxFlex fxFlexAlign="center">
        <button (click)="getQuote()" md-raised-button>Another quote!</button>
        <a [href]="tweetUrl + '&quot;' + quote.quoteText + '&quot; - ' + quote.quoteAuthor" target="_blank"><button md-raised-button>Tweet quote!</button></a>
      </div>
    </div>
  </div>
  <div fxFlex fxFlex.xs="none">
  </div>
</div>